<h1>Welcome to my site!</h1>

<div class="container">

  <form action="/" method="post">
    <input
      type="search"
      name="filter"
      placeholder="Type here ..."
      class="form-control"
    />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <hr>

  <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
  </table>

</div>