<h1>Welcome to my site!</h1>

<div class="container">

  <form action="/" method="post">
    <input
      type="search"
      name="filter"
      placeholder="Type here ..."
      class="form-control"
    />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <hr>

  <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{productName}}</td>
            <td>{{unitPrice}}</td>
            <td></td>
        </tr>
        {{/each}}
    </tbody>
  </table>

</div>

<script>
    $(()=> {        
        $('table').DataTable();
    })
</script>